<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="d-none d-lg-block col-lg-2 bg-success">
        <%- include('../partials/sidebar') %>
      </div>
      <div class="col-lg-10">main